
#root {
  margin: 0 auto;
  height: 100%;
}

html,body{
  overflow-x: hidden;
  overflow-y: hidden;
 
}


#resources {
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: auto; /* Ensure it doesn't stretch */
  z-index: 2000; /* Keep it above other elements */
  padding: 10px; /* Optional, for spacing within the element */
}


.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px; 
  height: 78vh;
}


