header {
    background-color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
