header {
    background-color: black;
    padding: 1em;

    display: flex;
    justify-content: space-between;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media (prefers-color-scheme: light) { 
    header {
        background-color: #F7F99B;
        color: black;
    }
}