header {
    background-color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
