.visualizer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 40%;
  overflow: hidden;
  
}

#visualizer-bar{
  display: flex;
  justify-content: center;
  
}

.visualizer{
  width: 400px;
}

.bar {
  background-color: rgb(38, 38, 38);
  width: 8px;
  margin: 0 2px;
  transition: height 0.05s ease-in-out;
  height: 0%; /* Start with zero height */
}
